name: ci

on:
  push:
    branches: ["main"]

jobs:
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt

      - name: Run rustfmt check
        run: cargo fmt --all -- --check

  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy

      - name: Run clippy
        run: cargo clippy --all-targets --no-deps -- -D warnings

  test:
    name: cargo test
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18-alpine
        env:
          POSTGRES_USER: runnerdb
          POSTGRES_PASSWORD: runnerdb
          POSTGRES_DB: runnerdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U runnerdb"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Wait for Postgres
        run: |
          until pg_isready -h localhost -p 5432 -U runnerdb; do
            echo "Waiting for postgres..."
            sleep 1
          done

      - name: Run tests
        env:
          DATABASE_URL: postgres://runnerdb:runnerdb@localhost:5432/runnerdb?options=-c search_path=gitnote
          GITHUB_MARKDOWN_RENDER_KEY: ${{ secrets.MARKDOWN_RENDER_KEY }}
          REPO_PATH: "tests/data/localtest.git"
          GITNOTE_LOG: "gitnote=debug"
        run: |
          cargo test --verbose
          cargo test --verbose -- --ignored
